<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">




<bean id="userDao" class="com.adonai.pojo.impl.UserDaoImpl"></bean>

<!-- 使用静态工厂创建实例化对象 -->
<bean id="bean1" class="com.adonai.factory.Bean1Factory" factory-method="getBean1" ></bean>


<!-- 采用实例化工厂的方式来创建对象 -->


<bean id="Bean2Factory" class="com.adonai.factory.Bean2Factory "></bean>
<bean id="bean2" factory-bean="Bean2Factory" factory-method="getBean2"></bean>


<!-- p 名称空间的属性注入的方式 -->
<bean  id="car1"  class="com.adonai.pojo.Car1"  p:name=" 宝 马 7"
p:price="1200000"/>
<bean  id="person1"  class="com.adonai.pojo.Person1"  p:name=" 思 聪 "
p:car-ref="car1"/>
<!-- 注意：这里的p:属性名称(不是属性类型!不是属性类型)-ref="要引用的bean的名称" -->




</beans>